body{
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: roboto, sans-serif !important;
    background-color: #0E0922 !important;
}

.background-video {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover; 
    z-index: -1; 
}

.theme-switch {
    text-decoration: none;
    position: fixed;
    top: 20px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: white; 
    padding: 10px;
    border-radius: 50%; 
    z-index: 999; 
}
.fas{
    color: black  !important;
}
.fas:hover{
    color: grey !important; 
}



.banner{

    margin-left: 50%;
    margin-top: 15.6%;
    margin-bottom: 26%;

}
.carousel {
    width: 70%; 
    margin: 0 auto; /* Centrez le carrousel horizontalement */
}

.carousel-inner {
    text-align: center; 
}

.carousel-inner h1 {
    font-family: Tw Cen MT;
    color: white;
    width: 100%;
    font-size: 7vw; /* Personnalisez la taille de la police du titre */
}

.carousel-inner p {
    color: white;
    font-size: 1.6vw; /* Personnalisez la taille de la police du texte */
}




/* Style for the social icons container */
.social-icon {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}

/* Style for individual social icons */
.social-icon a {
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: white; 
    border-radius: 50%; 
    padding: 7px; 
}

.social-icon img {
    width: 35px; 
    height: 35px;
    transition: 0.7s;
}
.social-icon img:hover{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}


 /* Conteneur pour l'icône */
         .icon-container {
            width: 80%;
            position: absolute;
            margin-top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .ic-principal{
            background-color: #0E0922;
            height: 5vw;
            width: 5vw;
            margin: auto;
        }
        .ic-principal img{
            width: 99.5%;
            height: auto;
            line-height: 100px; 
            color: white; 
            font-size: 24px; 
            transition: 0.3s;

        }
        .ic-principal img:hover{
            width: 100%;
        }
        .ic-secondaire{
            width: 100%;
            justify-content: center;
            text-align: center;
            display: flex;
            visibility: hidden;
            }
        .ic-secondaire img{
            margin: 2%;
            width: 5vw;
            height: auto;
             background-color: #0E0922;
        }
         .ic-secondaire img:hover{
            width: 5.2vw !important;
        }
        .ic-secondaire a{
            text-decoration: none !important;
            margin: 1vw 4vw;
        }
        .ic-secondaire a p{
            font-size: 01vw;
            color: white;
            padding: 5px;
            
        }
        .icon-container img:hover{
            cursor: pointer;
        }

        .ic-principal:hover .ic-secondaire{
            visibility: visible;

        }
       

.menu_services {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    left: 5%;

}

.image-box {
    margin: 20px; 
    text-align: center;
    position: relative;
    max-width: 70%; 
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
.image-box img{
    width: 97%;
    height: 15vw;
    transition: 0.5s;
}
.image-box img:hover{
    width: 100%;
    height: 15.5vw;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 4%;
    width: 98%;
    font-size: 1.5vw; 
    transition: 0.4s;
}
.image-title:hover{
    font-size: 1.6vw;
    cursor: pointer;
}
.menu_textes{
     background-color: #0E0922;
    font-size: 1.5vw;
    width: 90%;
    align-items: center;
    justify-content: center;text-align: center;
    margin: auto;
    color: white;
}


/* Style for the box container */
.box-container {
    max-width: 90%; 
    margin: 10vw auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.slyde{opacity: 0; 
    transform: translateX(20px); 
    transition: opacity 0.3s, transform 0.8s; }

/* Style for individual boxes */
.box {
    box-shadow: 0 0 10px rgba(255,255,255,.2);
    color: white;
    flex: calc(33.33% - 20px); 
    margin: 50px; 
    text-align: center; 
     opacity: 0.1;
    transition: opacity 0.5s;
    
}
.box:hover{
    box-shadow: 0 0 20px rgba(255,255,255,.2);
    cursor: pointer;
}
.box p{
    margin: 5%;
    font-size: 1.3vw;
}
/* Style for hover effect */
.box:hover {
    opacity: 1; 
    transform: translateX(0); 
}
.opacity-visible {
    opacity: 1;

}

#box1{
    top: 0;
    left: 0;
}
   /* Style pour le titre */
}
.box1-title {
    font-size: 2vw;
    margin-top: 20px;
}

/* Style pour le contenu */
.box1-content {
    margin: 20px 0;
}

/* Style pour la vidéo */
.box-video {
    position: relative;
    width: 100%;
    bottom: 0;
    
}
.box-video video{
    position: relative;
    width: 100%;
    bottom: 0;

}


/* Styles pour la Box 2 */
#box2 {
    top: 30vw;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
     bottom: 0;
    right: 0;
}


/* Style pour l'image */
.box2-image {
    width: 100%;
    position: relative; 
}

.box2-image img {
    width: 100%;
    height: auto; 
    margin: 0;
}

/* Style pour le titre */
.box2-title {
    color: white;
    font-size: 2vw;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 20px;
}

/* Style pour le contenu */
.box2-content {
    margin: 20px 0;
}

/* Styles pour la Box 3 */
#box3 {
    text-align: center; /
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    width: 100%; 
    justify-content: flex-start; /* Aligner le contenu en haut de la boîte */
    align-items: stretch; /* Ajuster la largeur des éléments enfants à la largeur de la boîte */
}

/* Style pour le titre */
.box3-title {
    font-size: 2vw;
    margin: 0;
    width: 100%; 
    margin-top: 20px;
}

/* Style pour le contenu */
.box3-content {
    margin: 20px 0;
    width: 100%; 
}

.box3-image{
    width: 100%;
    align-self: flex-end
}
/* Style pour l'image */
.box3-image img {
    width: 100%; 
    height: auto; 
    margin: 0;
}
.timeline-icon img{
    width: 50%;
}




/* Style pour la frise chronologique */
.timeline {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les événements */
    margin-top: 20px;
    width: 100%; /* La frise occupe 100% de la largeur de la Box 4 */
}

/* Style pour chaque événement dans la frise */
.timeline-event {
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc; /* Bordure autour de chaque événement */
    padding: 10px; /* Espacement interne */
    flex: 1; /* Les événements se répartissent automatiquement l'espace disponible */
   width: 0;
}
.T1{
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 50%, 0% 0%);
}
.T2{
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.T3{
     clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.T4{
     clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.T5{
   
}
/* Style pour l'icône de chaque événement */
.timeline-icon {
    font-size: 24px;
    margin: 10px 0;
}

/* Style pour le titre de chaque événement */
.timeline-title {
    font-size: 12px;
    color: black;
}


/* Styles pour la Box 4 */
#box4 {
    top: 40vw;
    height: auto;
    text-align: center; /* Centrer le contenu */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Position relative pour positionner le titre sur l'image */
    width: 100%; /* La Box 4 occupe 100% de la largeur de son conteneur */
    margin: 20 auto; /* Centrer la Box 4 horizontalement */
}

/* Style pour le titre */
.box4-title {
    font-size: 2vw;
    margin: 0;
    width: 100%; /* Titre occupe 100% de la largeur de la boîte */
    margin-top: 20px;
}

/* Style pour le contenu */
.box-content {
    margin: 20px 0;
    width: 100%; /* Contenu occupe 100% de la largeur de la boîte */
}








/* Section Blog & Actus */
.blog-section {
    color: white;
    width: 90%;
    margin: 40vw auto;
  text-align: center;
  padding: 20px;
  background-color: #0E0922;
  margin-bottom: 5%;
}

/* Titre de la section */
.section-title {
  font-size: 2em;
}

/* Ligne de division */
.section-divider {
  width: 80px;
  height: 2px;
  background-color: skyblue;
  margin: 20px auto;
}

/* Paragraphe d'introduction */
.section-paragraph {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Conteneur des petits boxes */
.box-container2 {
  display: flex;
  justify-content: space-between;
  color: black;
}

/* Box de blog individuel */
.blog-box {
  width: 30%;
  color: white;
  background-color: ;
  border: 1px solid skyblue;
  padding: 20px;
  text-align: center;
}

/* Image dans le box */
.blog-box img {
  max-width: 100%;
  height: auto;
}

/* Bouton "Lire la suite" */
.read-more-button {
  background-color: skyblue;
  padding: 5px 10px;
  cursor: pointer;
}



/* Box principal about */

.main-box {
    padding: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
   background-color: #0E0922;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
   flex-wrap: wrap;
  justify-content: space-between;
}

/* Grand titre IDEA */
.main-title {
  font-size: 2.5em;
  width: 100%;
}

/* Sous-titre Impulse Digital experience Agency */
.sub-title {
  font-size: 1.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Styles pour les animations des mots */
.animated-text {
  opacity: 0;
  animation: appear 2s ease-in-out infinite;
}

/* Espaces entre les mots */
.space {
  width: 1em; /* Ajustez la largeur de l'espace selon vos besoins */
}

/* Animation des mots */
@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animation des mots individuels */
.animated-text:nth-child(1) {
  animation-delay: 0s;
}

.animated-text:nth-child(2) {
  animation-delay: 2s; /* Décalage de 2 secondes pour le deuxième mot */
}

.animated-text:nth-child(3) {
  animation-delay: 4s; /* Décalage de 4 secondes pour le troisième mot */
}

.animated-text:nth-child(4) {
  animation-delay: 6s; /* Décalage de 6 secondes pour le quatrième mot */
}

/* Petits boxes côte à côte */
.sub-box {
  width: 50%;
  text-align: center;
}
.sub1 {
    margin-top: 5%;
}

/* Titres dans les petits boxes */
.sub-title {
  font-size: 2vw;
}
.sub-box p{
    font-size: 1.3vw;
}

/* Image dans le deuxième petit box */
.sub-box img {
  max-width: 100%;
  height: auto;
}

/* Bas du grand box */
.bottom-box {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

/* Titre au bas du grand box */
.bottom-title {
  font-size: 1.5em;
}

/* Icône au bas du grand box */
.bottom-box img {
  max-width: 3vw;
  height: auto;
  transition: 0.5s;
}
.bottom-box img:hover {
  max-width: 3.5vw;
  height: auto;
}
/* Paragraphe caché */
.paragraphs.hidden {
  display: none;
}







/* Avis */

.avis-section {
    box-shadow: 0 0 10px rgba(255,255,255,.2);
    background-color: #0E0922;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    padding: 20px;
    color: white;
    border-top: 2px double skyblue;
}

.etoiles {
    font-size: 30px;
}

.etoile {
    cursor: pointer;
    padding: 5px;
}
.etoile.allume {
    color: gold;
}

.avis-form {
    display: none;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

textarea, input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}




 /* Style pour le bas de page */
        /* Style pour le bas de page */
.footer {
    background-image: url('../medias/earth-3866609_1920.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    position: relative; /* Ajoutez cette ligne */
    bottom: 0; /* Ajoutez cette ligne */
    width: 100%; /* Ajoutez cette ligne */
    padding: 50px 0;
}


        /* Style pour la barre de saisie d'email */
        .email-bar {
            width: 300px;
            height: 40px;
            border: none;
            border-radius: 20px;
            padding: 10px;
            font-size: 16px;
            margin: 10px;
        }

        /* Style pour le bouton "Nous Contacter" */
        .contact-button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }

        /* Style pour l'icône de l'email */
        .email-icon {
            font-size: 24px;
            margin-top: 20px;
        }

        /* Style pour l'adresse email */
        .email-address {
            font-size: 16px;
            margin-top: 10px;
        }

        /* Style pour les icônes de réseaux sociaux */
        .social-icons {
            margin-top: 20px;
        }

        .social-icons a {
            color: white;
            font-size: 24px;
            margin: 0 10px;
            text-decoration: none;
        }

/*--------------------------------------------------------------
# article
--------------------------------------------------------------*/


/* Style du conteneur de l'article */
.long-article {
    color: white;
    max-width: 100%;
    margin: 0 10%; /* Marge gauche et droite de 20px */
    padding: 20px;
    box-sizing: border-box;
}

/* Style des titres colorés */
.article-title {
    color: skyblue;
    font-size: 3.5vw;
}

/* Style des images alignées à gauche */
.image-left {
    float: left;
    max-width: 45%; /* Largeur maximale des images */
    height: auto;
    margin: 0 20px 20px 0; /* Marge autour de l'image */
}

/* Style des images alignées à droite */
.image-right {
    float: right;
    max-width: 45%; /* Largeur maximale des images */
    height: auto;
    margin: 0 0 20px 20px; /* Marge autour de l'image */
}

/* Style du texte à côté de l'image */
.image-and-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image-and-text p{
    width: 50%;
}

/* Animation d'apparition pour les éléments */
.long-article p, .long-article h2, .long-article img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.long-article p, .long-article h2, .long-article img {
    animation: appear 1s ease forwards;
}
.long-article a{
        color: #A9CCE3;
        text-decoration: underline;
        font-size: 1.5vw;
}
.long-article p{
    font-size: 1.5vw;
        }
.long-article h2{
    font-size: 2.5vw;
        color: white;
        text-decoration: underline;
}
.long-article .auteur{
    font-style: italic;
}
.long-article span{
    color: #CD6155;
    font-size: 20px;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style de la ligne animée sous les titres */
/* Style de la ligne animée sous les titres */
.underline-animation {
    width: 0;
    height: 2px;
    background-color:white; /* Couleur de la ligne au choix */
    margin-top: 5px;
    animation: lineAnimation 10s linear infinite; /* Animation en boucle pendant 3 secondes */
}

@keyframes lineAnimation {
    0% {
        width: 0; /* La ligne commence sans largeur */
    }
    50% {
        width: 100%; /* À mi-chemin de l'animation, la ligne est à pleine largeur */
    }
    100% {
        width: 0; /* La ligne revient à aucune largeur à la fin de l'animation */
    }
}


/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/



.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.vertical-block {
    width: 100%;
    background-size: cover;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.vertical-block h1{
    margin: 0;
    position: relative;
    animation: wave 10s infinite;
    padding: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
@keyframes wave {
    0% {
        left: -20px; /* Position initiale (gauche) */
    }
    50% {
        left: 20px; /* Position droite */
    }
    100% {
        left: -20px; /* Revenir à la position initiale (gauche) */
    }
}
.vertical-block p{
    color: white;
    padding: 20px;
}
.vertical-block .hidden {
    display: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.vertical-block:hover .hidden {
    cursor: pointer;
    display: flex;
}

.small-block {
    width: calc(33.33% - 20px); /* 3 colonnes avec marge */
    height: 250px;
    margin: 10px;
    overflow: hidden;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.9s ease;

}
.small-block p::after {
    content: "Lire plus";
    display: none;
    color: #0077cc;
    cursor: pointer;
    font-weight: bold;

}

.small-block p:hover::after {
    display: inline;
    margin-left: 10px;
}

.small-block img {
    max-width: 100%;
    height: auto;
}

.small-block h2 {

    font-size: 16px;
    margin: 2%;
}

.small-block p {
    height: 100%;
    color: black !important;
    font-size: 14px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}
.small-block span{
   font-weight: 700;
}

.small-block:hover p {
    display: block;
}
.small-block:hover {
    background-color: #e0e0e0; /* Couleur de fond au survol */
}




/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/

.about-container {
    color: white;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 5%;
    }

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5%;
}

.about-col {
    flex: 1;
    margin: 5px;
   
}

/* Styles spécifiques pour chaque conteneur */
.image1-container,.image2-container, .video-container, .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Styles spécifiques pour l'effet de zoom/dézoom */
.zoom-effect {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 5s infinite alternate;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}


/* Ajustements pour la vidéo */
.video-container video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Styles généraux */
.image2-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.text-container p{
    margin: 10%;
    
}






/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 30px;
}

.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
}

.contact .info-box i {
  font-size: 32px;
  color: #68A4C4;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #a2cce3;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin-bottom: 30px;
}


.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
  background-color: #68A4C4;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #68A4C4;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}




/*--------------------------------------------------------------
# ligne et point
--------------------------------------------------------------*/

.center-line {
            position: absolute;
            top: 70vh;
            height: 250vw;
            bottom: 0;
            left: 50%;
            width: 1px; /* Épaisseur de la ligne verticale */
            background-color: white; /* Couleur de la ligne */
            z-index: -1;
            
        }

        .point {
            
            top: 70vh;
            position: absolute;
            background-color: rgba(255,255,255,0.2);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            left: 50%; /* Centré horizontalement */
            transform: translate(-50%, 650%); /* Centré verticalement par rapport à la ligne */
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
            z-index: -1;
        }   
        .point img{
            width: 100%;
            align-items: center;
            justify-content: center;

        }






/*--------------------------------------------------------------
# Creation site web
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #68A4C4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #85b6cf;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f3f8fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #68A4C4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 1.5vw;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .row+.row {
  margin-top: 100px;
}

.features h3 {
  font-weight: 400;
  font-size: 24px;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features ul li {
  padding-bottom: 10px;
}

.features ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #68A4C4;
}

.features p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
conception graphique digital
--------------------------------------------------------------*/
.main-title {
  text-align: center;
  font-size: 2em;
  padding: 20px 0;
  color: #fff;
}
.divider {
  border: none;
  border-top: 2px solid #333; /* Couleur et épaisseur du trait */
  margin: 0 auto;
  width: 80px; /* Largeur du trait */
}
 /* Conteneur */

.containe {
    width: 95%;
    margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

/* Box individuelle */
.containe > div {
    border-radius: 10px;
    color: white;
  width: calc(33.33% - 20px);
  background-color: rgba(250, 250, 250, 0.1);
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.5;
}
.containe > div:hover{
    opacity: 1;
}

/* Image dans la box */
.containe > div img {
  max-width: 100%;
  height: auto;
}

/* Titre dans la box */
.containe > div h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

/* Paragraphe dans la box */
.containe > div p {
  font-size: 1em;
  margin: 10px 0;
}

/* Bouton "Nous contacter" */
.containe > div button {
  background-color: #ffcc00;
  padding: 5px 10px;
  cursor: pointer;
}

/*--------------------------------------------------------------
assistance et gestion
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #0E0922;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0E0922;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fef8f5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1px;
  margin-bottom: 15px;
  color: #c2b7b1;
}

.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-weight: 700;
  
}

.section-title p::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #eb5d1e;
  bottom: 0;
  left: calc(50% - 30px);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
  font-weight: 700;
  font-size: 34px;
  color: #ffffff;
}

.about h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color: #cccbca;
}

.about i {
  font-size: 48px;
  margin-top: 15px;
  color: #ffffff;
}

.about p {
  font-size: 15px;
  color: #5a6570;
}

@media (max-width: 991px) {
  .about .about-img img {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .about .about-img img {
    max-width: 90%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  border-color: #0E0922;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #0E0922;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.description {
  color: #0E0922;
}

.text-center {
  color :#0E0922;
}

.op {
  color: rgb(163, 157, 157);
}

#pla , #con , #re {
  text-transform: uppercase;
  font-weight: bolder;
}